<section id="tabs" class="project-tab">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
                            10 Happiest Songs <i class="far fa-smile"></i></a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">
                            10 Saddest Songs <i class="far fa-frown"></i></a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <table class="table" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Rank</th>
                                        <th>Artist</th>
                                        <th>Song</th>
                                        <th>Happiness Average</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr><td>1</td><td>Massive Attack</td><td>Angel by Massive Attack</td><td>7.713015873015873</td></tr>
                                    <tr><td>2</td><td>London Symphony Orchestra</td><td>The End by London Symphony Orchestra</td><td>7.687027027027027</td></tr>
                                    <tr><td>3</td><td>C2C</td><td>Arcades by C2C</td><td>7.477818181818185</td></tr>
                                    <tr><td>4</td><td>Lisa Gerrard</td><td>Space Weaver by Lisa Gerrard</td><td>7.373333333333335</td></tr>
                                    <tr><td>5</td><td>Sigala</td><td>Give Me Your Love by Sigala (Ft. John Newman & Nile Rodgers)</td><td>7.295079365079365</td></tr>
                                    <tr><td>6</td><td>The Yardbirds</td><td>For Your Love by The Yardbirds</td><td>7.246666666666666</td></tr>
                                    <tr><td>7</td><td>Jamie xx</td><td>Girl by Jamie xx</td><td>7.209939393939394</td></tr>
                                    <tr><td>8</td><td>Shiloh Dynasty</td><td>Would That Make You Love Me? by Shiloh Dynasty</td><td>7.189473684210527</td></tr>
                                    <tr><td>9</td><td>Crush</td><td>Beautiful by Crush</td><td>7.137043010752687</td></tr>
                                    <tr><td>10</td><td>Dexys Midnight Runners</td><td>Because of You by Dexys Midnight Runners</td><td>7.118181818181818</td></tr>
                                </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <table class="table" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Rank</th>
                                    <th>Artist</th>
                                    <th>Song</th>
                                    <th>Happiness Average</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr><td>1</td><td>Massive Attack</td><td>Angel by Massive Attack</td><td>7.713015873015873</td></tr>
                                <tr><td>2</td><td>London Symphony Orchestra</td><td>The End by London Symphony Orchestra</td><td>7.687027027027027</td></tr>
                                <tr><td>3</td><td>C2C</td><td>Arcades by C2C</td><td>7.477818181818185</td></tr>
                                <tr><td>4</td><td>Lisa Gerrard</td><td>Space Weaver by Lisa Gerrard</td><td>7.373333333333335</td></tr>
                                <tr><td>5</td><td>Sigala</td><td>Give Me Your Love by Sigala (Ft. John Newman & Nile Rodgers)</td><td>7.295079365079365</td></tr>
                                <tr><td>6</td><td>The Yardbirds</td><td>For Your Love by The Yardbirds</td><td>7.246666666666666</td></tr>
                                <tr><td>7</td><td>Jamie xx</td><td>Girl by Jamie xx</td><td>7.209939393939394</td></tr>
                                <tr><td>8</td><td>Shiloh Dynasty</td><td>Would That Make You Love Me? by Shiloh Dynasty</td><td>7.189473684210527</td></tr>
                                <tr><td>9</td><td>Crush</td><td>Beautiful by Crush</td><td>7.137043010752687</td></tr>
                                <tr><td>10</td><td>Dexys Midnight Runners</td><td>Because of You by Dexys Midnight Runners</td><td>7.118181818181818</td></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>