<section id="tabs" class="project-tab">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">10 Happiest Songs</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">10 Saddest Songs</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <table class="table" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Artist</th>
                                        <th>Song</th>
                                        <th>Happiness Average</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>HyunA</td>
                                        <td>Lip & Hip by HyunA</td>
                                        <td>5.138656229615134</td>
                                        </tr>
                                    <tr><td>MAMAMOO</td><td>HIP by MAMAMOO</td><td>5.124765957446809</td></tr>
                                    <tr><td>Maher Zain</td><td>I'm Alive by Maher Zain (Ft. Atif Aslam)</td><td>5.123909774436091</td></tr>
                                    <tr><td>Aphex Twin</td><td>Milk Man by Aphex Twin</td><td>5.08936936936937</td></tr>
                                    <tr><td>Mother Mother</td><td>Infinitesimal by Mother Mother</td><td>5.086259780907668</td></tr>
                                    <tr><td>Enya</td><td>Orinoco Flow (Sail Away) by Enya</td><td>5.084895238095238</td></tr>
                                    <tr><td>EXO-SC</td><td>What a life by EXO-SC</td><td>5.077994269340975</td></tr>
                                    <tr><td>Morgan Wallen</td><td>Livin' The Dream by Morgan Wallen</td><td>5.07704</td></tr>
                                    <tr><td>Gary Valenciano</td><td>Hataw Na by Gary Valenciano</td><td>5.076773367477593</td></tr>
                                    <tr><td>Crush</td><td>Beautiful by Crush</td><td>5.07562747688243</td></tr>
                                </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <table class="table" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Project Name</th>
                                    <th>Employer</th>
                                    <th>Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>HyunA</td>
                                    <td>Lip & Hip by HyunA</td>
                                    <td>5.138656229615134</td>
                                    </tr>
                                <tr><td>MAMAMOO</td><td>HIP by MAMAMOO</td><td>5.124765957446809</td></tr>
                                <tr><td>Maher Zain</td><td>I'm Alive by Maher Zain (Ft. Atif Aslam)</td><td>5.123909774436091</td></tr>
                                <tr><td>Aphex Twin</td><td>Milk Man by Aphex Twin</td><td>5.08936936936937</td></tr>
                                <tr><td>Mother Mother</td><td>Infinitesimal by Mother Mother</td><td>5.086259780907668</td></tr>
                                <tr><td>Enya</td><td>Orinoco Flow (Sail Away) by Enya</td><td>5.084895238095238</td></tr>
                                <tr><td>EXO-SC</td><td>What a life by EXO-SC</td><td>5.077994269340975</td></tr>
                                <tr><td>Morgan Wallen</td><td>Livin' The Dream by Morgan Wallen</td><td>5.07704</td></tr>
                                <tr><td>Gary Valenciano</td><td>Hataw Na by Gary Valenciano</td><td>5.076773367477593</td></tr>
                                <tr><td>Crush</td><td>Beautiful by Crush</td><td>5.07562747688243</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>